function Main.main 3
	push constant 10
	call Array.new 1
	pop local 0  // a
	push constant 5
	call Array.new 1
	pop local 1  // b
	push constant 1
	call Array.new 1
	pop local 2  // c
	push local 0  // a
	push constant 3
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 2
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 0  // a
	push constant 4
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 8
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 0  // a
	push constant 5
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 4
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 1  // b
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	push constant 3
	add
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 0  // a
	push local 1  // b
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push local 0  // a
	push local 0  // a
	push constant 5
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	push local 1  // b
	push constant 7
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	sub
	push constant 2
	call Main.double 1
	sub
	push constant 1
	add
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	call Math.multiply 2
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 2  // c
	push constant 0
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 0  // null
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 2  // c
	push constant 0
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	pop local 2  // c
	push constant 43
	call String.new 1
	push constant 84
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 49
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 120
	call String.appendChar 2
	push constant 112
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 100
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 53
	call String.appendChar 2
	push constant 59
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	call Output.printString 1
	pop temp 0
	push local 1  // b
	push constant 2
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	call Output.printInt 1
	pop temp 0
	call Output.println 0
	pop temp 0
	push constant 44
	call String.new 1
	push constant 84
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 50
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 120
	call String.appendChar 2
	push constant 112
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 100
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 52
	call String.appendChar 2
	push constant 48
	call String.appendChar 2
	push constant 59
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	call Output.printString 1
	pop temp 0
	push local 0  // a
	push constant 5
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	call Output.printInt 1
	pop temp 0
	call Output.println 0
	pop temp 0
	push constant 43
	call String.new 1
	push constant 84
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 51
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 120
	call String.appendChar 2
	push constant 112
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 100
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 48
	call String.appendChar 2
	push constant 59
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	call Output.printString 1
	pop temp 0
	push local 2  // c
	call Output.printInt 1
	pop temp 0
	call Output.println 0
	pop temp 0
	push constant 0  // null
	pop local 2  // c
	push local 2  // c
	push constant 0  // null
	eq
	not
	if-goto ELSE0
	push local 0  // a
	push constant 10
	call Main.fill 2
	pop temp 0
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	pop local 2  // c
	push local 2  // c
	push constant 1
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 33
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 0  // a
	push constant 7
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	pop local 2  // c
	push local 2  // c
	push constant 1
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 77
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	push local 0  // a
	push constant 3
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	pop local 1  // b
	push local 1  // b
	push constant 1
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push local 1  // b
	push constant 1
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	push local 2  // c
	push constant 1
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	add
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	goto ELSE_END0
label ELSE0
label ELSE_END0
	push constant 44
	call String.new 1
	push constant 84
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 52
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 120
	call String.appendChar 2
	push constant 112
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 100
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 55
	call String.appendChar 2
	push constant 55
	call String.appendChar 2
	push constant 59
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	call Output.printString 1
	pop temp 0
	push local 2  // c
	push constant 1
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	call Output.printInt 1
	pop temp 0
	call Output.println 0
	pop temp 0
	push constant 45
	call String.new 1
	push constant 84
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 53
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 120
	call String.appendChar 2
	push constant 112
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 100
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 49
	call String.appendChar 2
	push constant 49
	call String.appendChar 2
	push constant 48
	call String.appendChar 2
	push constant 59
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 99
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 97
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	push constant 114
	call String.appendChar 2
	push constant 101
	call String.appendChar 2
	push constant 115
	call String.appendChar 2
	push constant 117
	call String.appendChar 2
	push constant 108
	call String.appendChar 2
	push constant 116
	call String.appendChar 2
	push constant 58
	call String.appendChar 2
	push constant 32
	call String.appendChar 2
	call Output.printString 1
	pop temp 0
	push local 1  // b
	push constant 1
	add  // termArrEnd
	pop pointer 1  // that = &arr + arrIdx
	push that 0  // push arr[arrIdx] on stack
	call Output.printInt 1
	pop temp 0
	call Output.println 0
	pop temp 0
	push constant 0
	return
function Main.double 0
	push argument 0  // a
	push constant 2
	call Math.multiply 2
	return
function Main.fill 0
label LOOP1
	push argument 1  // size
	push constant 0
	gt
	not
	if-goto ENDLOOP1
	push argument 1  // size
	push constant 1
	sub
	pop argument 1  // size
	push argument 0  // a
	push argument 1  // size
	add  // letArrayEnd
	pop temp 0  // arr = arr + i
	push constant 3
	call Array.new 1
	push temp 0
	pop pointer 1  // that = &arr + i
	pop that 0  // *(arr+i) = exp_value
	goto LOOP1
label ENDLOOP1
	push constant 0
	return
