function SquareGame.new 0
	push constant 2
	call Memory.alloc 1
	pop pointer 0  // this
	push constant 0
	push constant 0
	push constant 30
	call Square.new 3
	pop this 0  // square
	push constant 0
	pop this 1  // direction
	push pointer 0  // this
	return
function SquareGame.dispose 0
	push argument 0  // arg 0 is set to this by caller
	pop pointer 0  // this
	push this 0  // square
	call Square.dispose 1
	pop temp 0
	push pointer 0  // this
	call Memory.deAlloc 1
	pop temp 0
	push constant 0
	return
function SquareGame.moveSquare 0
	push argument 0  // arg 0 is set to this by caller
	pop pointer 0  // this
	push this 1  // direction
	push constant 1
	eq
	not
	if-goto ELSE0
	push this 0  // square
	call Square.moveUp 1
	pop temp 0
	goto ELSE_END0
label ELSE0
label ELSE_END0
	push this 1  // direction
	push constant 2
	eq
	not
	if-goto ELSE1
	push this 0  // square
	call Square.moveDown 1
	pop temp 0
	goto ELSE_END1
label ELSE1
label ELSE_END1
	push this 1  // direction
	push constant 3
	eq
	not
	if-goto ELSE2
	push this 0  // square
	call Square.moveLeft 1
	pop temp 0
	goto ELSE_END2
label ELSE2
label ELSE_END2
	push this 1  // direction
	push constant 4
	eq
	not
	if-goto ELSE3
	push this 0  // square
	call Square.moveRight 1
	pop temp 0
	goto ELSE_END3
label ELSE3
label ELSE_END3
	push constant 5
	call Sys.wait 1
	pop temp 0
	push constant 0
	return
function SquareGame.run 2
	push argument 0  // arg 0 is set to this by caller
	pop pointer 0  // this
	push constant 0  // false
	pop local 1  // exit
label LOOP4
	push local 1  // exit
	not
	not
	if-goto ENDLOOP4
label LOOP5
	push local 0  // key
	push constant 0
	eq
	not
	if-goto ENDLOOP5
	call Keyboard.keyPressed 0
	pop local 0  // key
	push pointer 0  // this
	call SquareGame.moveSquare 1
	pop temp 0
	goto LOOP5
label ENDLOOP5
	push local 0  // key
	push constant 81
	eq
	not
	if-goto ELSE6
	push constant 0  // true
	not  // true
	pop local 1  // exit
	goto ELSE_END6
label ELSE6
label ELSE_END6
	push local 0  // key
	push constant 90
	eq
	not
	if-goto ELSE7
	push this 0  // square
	call Square.decSize 1
	pop temp 0
	goto ELSE_END7
label ELSE7
label ELSE_END7
	push local 0  // key
	push constant 88
	eq
	not
	if-goto ELSE8
	push this 0  // square
	call Square.incSize 1
	pop temp 0
	goto ELSE_END8
label ELSE8
label ELSE_END8
	push local 0  // key
	push constant 131
	eq
	not
	if-goto ELSE9
	push constant 1
	pop this 1  // direction
	goto ELSE_END9
label ELSE9
label ELSE_END9
	push local 0  // key
	push constant 133
	eq
	not
	if-goto ELSE10
	push constant 2
	pop this 1  // direction
	goto ELSE_END10
label ELSE10
label ELSE_END10
	push local 0  // key
	push constant 130
	eq
	not
	if-goto ELSE11
	push constant 3
	pop this 1  // direction
	goto ELSE_END11
label ELSE11
label ELSE_END11
	push local 0  // key
	push constant 132
	eq
	not
	if-goto ELSE12
	push constant 4
	pop this 1  // direction
	goto ELSE_END12
label ELSE12
label ELSE_END12
label LOOP13
	push local 0  // key
	push constant 0
	eq
	not
	not
	if-goto ENDLOOP13
	call Keyboard.keyPressed 0
	pop local 0  // key
	push pointer 0  // this
	call SquareGame.moveSquare 1
	pop temp 0
	goto LOOP13
label ENDLOOP13
	goto LOOP4
label ENDLOOP4
	push constant 0
	return
